* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#6E07F3 ;
    margin: auto;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.search{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search input {
    border-radius: 100px;
    height: 2rem;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.search button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 100px;
    width: 10rem;
    height: 2rem;
}

.container2{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container2 form {
    width: 300px;
    margin: 0 auto;
}
.container2 form label {
    display: block;
    margin-top: 10px;
}

.container2 form input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.container2 form input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.container2 form input {
    border-radius: 100px;
    margin: auto;
}

.container2 button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}


.divCliente {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.clienteDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.evento-error {
    display: flex;
    margin: auto;
    flex-direction: column;
    font-weight: bold;
    padding: 2%;
    width: 33%;
    height: 50%;
}